body {
    background-color: black;
    color: aqua;
}

#container {
    width: auto;
    height: auto;
}

#scroll_space {
    width: 100%;
    height: 95%;
    font-size: 40rem;
}

#select_space {
    width: 100%;
    height: 4%;
}
